<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Добавление ремонтов</title>
<link rel="stylesheet" th:href="@{/assets/css/history.css}">
</head>
<body>
<div class="form-container">
    <button onclick="window.location.href='/database';">Назад</button>
    <h2>Название выбранного самолета:</h2>
    <input type="text" id="airplane" placeholder="Название самолета" readonly>
    <label>Введите название датчика:</label>
    <input type="text" id="name" placeholder="(Обязательно)">
    <label>Введите описание датчика:</label>
    <textarea placeholder="Введите описание датчика" id="desc"></textarea>
    <button onclick="sendPostRequest()">Добавить</button>
</div>
<script>
    document.getElementById("airplane").value = localStorage.getItem("airplaneName");
    function isValidString(inputString) {
        // Регулярное выражение для проверки, что строка содержит только кириллицу, латиницу, цифры или пробелы
        var regex = /^[a-zA-Zа-яА-Я0-9\s]{3,100}$/;
        // Проверяем, соответствует ли строка регулярному выражению
        return regex.test(inputString);
    }
    function sendPostRequest() {
        document.getElementById("name").style.border = "1px solid #ccc";
        document.getElementById("desc").style.border = "1px solid #ccc";
        const url = "/api/sensors";
        // Создаем новый экземпляр объекта XMLHttpRequest
        const xhr = new XMLHttpRequest();

        // Открываем соединение с сервером для отправки POST-запроса
        xhr.open("POST", url);

        // Устанавливаем заголовок Content-Type для POST-запроса
        xhr.setRequestHeader("Content-Type", "application/json");

        // Получаем значения полей ввода
        const sensorName = document.getElementById("name").value.trim();
        const sensorDesc = document.getElementById("desc").value.trim();
        if (!isValidString(sensorName)){
            document.getElementById("name").style.border = "2px solid red";
            return;
        }
        if (!isValidString(sensorDesc)){
            document.getElementById("desc").style.border = "2px solid red";
            return;
        }

        // Создаем объект с данными для отправки на сервер
        const sensorData = {
            name: sensorName,
            description: sensorDesc
        };

        const requestData = {
            sensor: sensorData,
            airplaneId: parseInt(localStorage.getItem("airplaneId"))
        }

        console.log(requestData);
        // Преобразуем данные в формат JSON
        const jsonData = JSON.stringify(requestData);
        // Отправляем POST-запрос на сервер с данными
        xhr.send(jsonData);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    // Успешно получен ответ от сервера
                    alert('Датчик успешно добавлен!');
                } else {
                    // Произошла ошибка при получении ответа от сервера
                    alert('Ошибка при добавлении датчика!');
                }
            }
        };
    }
</script>
</body>
</html>
